---
import { certificates } from "@cv";
---

<div class="w-full flex flex-col gap-4">
  <h3 class="text-xl">Certificados</h3>
  <ul
    class="flex flex-col gap-2 md:grid md:gap-2.5 md:grid-cols-2 xl:gap-2.5 xl:grid-cols-3 justify-center content-end"
  >
    {
      certificates.map(({ name, issuer, date, image }) => {
        return (
          <div class="container h-40 bg-[#222727] p-4 rounded-2xl cursor-pointer hover:drop-shadow-primary-md  hover:h-72 hover:**:block active:**:block active:h-auto transition-all duration-1000">
            <div>
              <h3>{name}</h3>
              <h4 class="text-[#faf9fb62]">{issuer}</h4>
            </div>
            <time>{date}</time>
            <img
              src={image}
              alt={`Imagen del ${name}`}
              class="hidden peer-checked:block h-40 w-full animate-bounce-fade-in animate-duration-1000"
            />
          </div>
        );
      })
    }
  </ul>
</div>
